---
const { product } = Astro.props;
---

<li class="link-card">
	<h2>
		{product.defaultProductVariant.title}
		<span>&rarr;</span>
	</h2>
	<p>body</p>

	<button>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="button-icon"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
			></path>
		</svg>

		Add to Cart
	</button>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 1.25rem;
		background-color: white;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		margin-bottom: 1rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
		margin-bottom: 1rem;
	}
	.link-card:is(:hover, :focus-within) {
		color: white;
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
		color: white;
	}
	.link-card:is(:hover, :focus-within) p {
		color: white;
	}
</style>
